.App-header {
    display: flex;
    flex-direction: column;
    /* Stack the content vertically */
    align-items: center;
    /* Center all content horizontally */
    background-color: #333;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.App-header-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.App-header-text {
    margin-top: 10px;
}

.App-header-text h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

/* Styling for the buttons */
.User,
.Add-article-button {
    background-color: #fff;
    color: black;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

/* Add specific margin to left and right buttons */
.User {
    margin-left: 3%;
}

.Add-article-button {
    margin-right: 3%;
}

/* Centered Title in the Header */
.App-title {
    font-size: 24px;
    font-weight: bold;
    flex-grow: 1;
    /* Make sure it takes up space and centers */
    text-align: center;
    /* Center the title */
}

/* Optional: Additional button hover effects for better UI */
.User:hover,
.Add-article-button:hover {
    background-color: #ddd;
}


.container {}